html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.header {
    display: block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    padding: 0;
    margin: 0;
    display: block;
}
h3 {
    text-align: center;
    padding: 0;
    margin: 0;
    display: block;
}

h4 {
    text-align: center;
    margin: 0;
    padding: 0.5rem;
}

p {
    padding: .5rem;
    margin: 0;
}

.container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    background-color: rgba(256,256,256,0.5);
    padding: 1rem 0;
}

.container1-1 {
    display: block;
    height: 100%;
    text-align: center; 
}

.container1-2 {
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
}

.container1-3 {
    display: block;
    height: 100%;
    text-align: center;
}

.container2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 60%;
}

.container2-1 {
    display: block;
    width: 50%;
    background-color: rgb(25, 121, 25);
    border: 0.5rem solid rgb(25, 121, 25);
}

/* .container2-1-1 {
    display: inline-block;
    width: 100%;
    height: 70%;
    background-color: white;
} */

.container2-1-2 {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.container2-2 {
    display: block;
    width: 50%;
    background-color: rgb(25, 121, 25);
    border: 0.5rem solid rgb(25, 121, 25);
}

input {
    display: inline-block;
    margin: 0 auto;
    width: 95%;
    height: 30%;
}

.amount input {
    /* display: inline block; */
    margin: 0 auto;
    width: 50%;
    height: 30%;
}

#imageWrap {
    width: 100%;
    padding-top: 13%;
    background-position: 50% 0%;
    background-size: cover;
}

.buttons {
    display: block;
    align-self: flex-end;
}

.tg  {border-collapse:collapse;border-spacing:0;border-color:#bbb;border-width:1px;border-style:solid;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#bbb;color:#594F4F;background-color:#E0FFEB;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#bbb;color:#493F3F;background-color:#9DE0AD;}
.tg .tg-lqy6{text-align:right;vertical-align:top}
.tg .tg-dzkc{font-size:15px;font-family:"Comic Sans MS", cursive, sans-serif !important;;text-align:center;vertical-align:top}
.tg .tg-yw4l{vertical-align:top}

.chartContainer {
    position: relative;
    height: 100%;
    width: 100%;
}